*

!**/src/**
!**/package.json
!**/.swcrc
!**/tsconfig.json
!**/*.proto
!**/prisma/**
!**/.env*
**/*.db
!packages/tsconfig
!.yarn/releases/**
!.yarn/patches/**
!yarn.lock
!turbo.json
!.yarnrc.yml
!**/api/**
!apps/dashboard/types/**
!apps/dashboard/next.config.ts
!apps/aleasat-site/types/**
!apps/aleasat-site/next.config.ts
!apps/aleasat-docs/types/**
!apps/aleasat-docs/next.config.ts
!packages/ui/graphic/**
!packages/ui/src/**

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db

node_modules