[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ahrs = "*"
scipy = "*"
matplotlib = "*"
pygeomag = {ref = "main", git = "https://gitlab.com/alea-2020/adcs/pygeomag.git"}
aleasim = {path = ".", editable = true}
parameterized = "*"
skyfield = "*"
sgp4 = "*"
pyjson5 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = ">=3.10"
