[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
obcpy = {path = "./../obcpy", editable = true, extras = ["ndarrays"]}
sanantonio = {path = "./", editable = true}
pyserial = "*"
pyqt5 = "*"
pyinstaller = "*"
pywin32-ctypes = "*"

[dev-packages]

[requires]
python_version = "3"
