[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
obcpy = {path = "./../obcpy", editable = true, extras = ["ndarrays"]}
unittest-xml-reporting = "*"

[dev-packages]

[requires]
python_version = "3"
